streamer
*.out
*.o
*.a
*.so
*.dylib

build/
bin/
lib/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
CompileCommands.json
poetry.toml
testament.py
*.dSYM/

__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

venv/
.venv/
env/
.env
.env.local


.DS_Store
.AppleDouble
.LSOverride


.vscode/
.idea/
*.swp
*.swo

*.onnx
*.pt

*.mp4
*.avi
*.mkv
todo.md